.header {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Microsoft YaHei', 'PingFangSC-Medium', serif;
    background-color: #fff;
    .header-top {
        height: 60px;
        padding: 0 20px 0 6px;
        line-height: 60px;
        border-bottom: 1px solid rgb(243, 186, 62);

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logout {
                margin-left: 20px;
            }
            .collapsed {
                border: none;
            }
        }
    }
    .breadcrumb {
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        .breadcrumb-title {
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            &::after {
                content: '';
                position: absolute;
                bottom: -25px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border: 14px solid transparent;
                border-top-color: #fff;
            }
        }
        .weather {
            text-align: right;
            .weather-detail {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}
